# Etape 3.3 : Détection d'anomalies

In [10]:
import pandas as pd

df = pd.read_parquet("../output/consommations_enrichies.parquet")
df

,batiment_id,timestamp,conso_clean,unite,date,type_energie,nom,type,commune,surface_m2,...,date_debut,date_fin,tarif_unitaire,cout_eur,conso_par_occupant,conso_par_m2,annee,IPE_kwh_m2_an,moyenne_conso_type,ecart_moyenne_categorie
0,BAT0001,2023-01-01 03:00:00,7.99,kWh,2023-01-01,electricite,Ecole Paris 1,ecole,Paris,1926,...,2023-01-01,2023-06-30,0.18,1.4382,0.035511,0.004148,2023,173.285057,0.056751,-0.052602
1,BAT0001,2023-01-01 03:00:00,7.71,kWh,2023-01-01,gaz,Ecole Paris 1,ecole,Paris,1926,...,2023-01-01,2023-06-30,0.09,0.6939,0.034267,0.004003,2023,173.285057,0.056751,-0.052747
2,BAT0001,2023-01-01 13:00:00,90.48,kWh,2023-01-01,gaz,Ecole Paris 1,ecole,Paris,1926,...,2023-01-01,2023-06-30,0.09,8.1432,0.402133,0.046978,2023,173.285057,0.056751,-0.009772
3,BAT0001,2023-01-01 16:00:00,69.08,kWh,2023-01-01,electricite,Ecole Paris 1,ecole,Paris,1926,...,2023-01-01,2023-06-30,0.18,12.4344,0.307022,0.035867,2023,173.285057,0.056751,-0.020883
4,BAT0001,2023-01-01 17:00:00,2.60,m3,2023-01-01,eau,Ecole Paris 1,ecole,Paris,1926,...,2023-01-01,2023-12-31,3.50,9.1000,0.011556,0.001350,2023,173.285057,0.056751,-0.055401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,BAT0019,2023-02-22 01:00:00,21.88,m3,2023-02-22,eau,Piscine Lyon 19,piscine,Lyon,3120,...,2023-01-01,2023-12-31,3.50,76.5800,0.065509,0.007013,2023,145.965362,0.339533,-0.332521
99996,BAT0019,2023-02-22 08:00:00,288.54,m3,2023-02-22,eau,Piscine Lyon 19,piscine,Lyon,3120,...,2023-01-01,2023-12-31,3.50,1009.8900,0.863892,0.092481,2023,145.965362,0.339533,-0.247053
99997,BAT0019,2023-02-22 12:00:00,1374.40,kWh,2023-02-22,electricite,Piscine Lyon 19,piscine,Lyon,3120,...,2023-01-01,2023-06-30,0.18,247.3920,4.114970,0.440513,2023,145.965362,0.339533,0.100979
99998,BAT0019,2023-02-22 17:00:00,318.79,m3,2023-02-22,eau,Piscine Lyon 19,piscine,Lyon,3120,...,2023-01-01,2023-12-31,3.50,1115.7650,0.954461,0.102176,2023,145.965362,0.339533,-0.237357
99999,BAT0019,2023-02-22 17:00:00,2949.62,kWh,2023-02-22,gaz,Piscine Lyon 19,piscine,Lyon,3120,...,2023-01-01,2023-06-30,0.09,265.4658,8.831198,0.945391,2023,145.965362,0.339533,0.605858

## Identifier les pics de consommation anormaux (>3 écarts-types)

In [11]:
stats_energy = (
    df.groupby("type_energie")["conso_clean"]
    .agg(["mean", "std"])
    .reset_index()
)

df = df.merge(stats_energy, on="type_energie", how="left")

df["pic_anormal"] = df["conso_clean"] > (df["mean"] + 3 * df["std"])
df

,batiment_id,timestamp,conso_clean,unite,date,type_energie,nom,type,commune,surface_m2,...,cout_eur,conso_par_occupant,conso_par_m2,annee,IPE_kwh_m2_an,moyenne_conso_type,ecart_moyenne_categorie,mean,std,pic_anormal
0,BAT0001,2023-01-01 03:00:00,7.99,kWh,2023-01-01,electricite,Ecole Paris 1,ecole,Paris,1926,...,1.4382,0.035511,0.004148,2023,173.285057,0.056751,-0.052602,236.698972,438.268085,False
1,BAT0001,2023-01-01 03:00:00,7.71,kWh,2023-01-01,gaz,Ecole Paris 1,ecole,Paris,1926,...,0.6939,0.034267,0.004003,2023,173.285057,0.056751,-0.052747,353.223797,656.287323,False
2,BAT0001,2023-01-01 13:00:00,90.48,kWh,2023-01-01,gaz,Ecole Paris 1,ecole,Paris,1926,...,8.1432,0.402133,0.046978,2023,173.285057,0.056751,-0.009772,353.223797,656.287323,False
3,BAT0001,2023-01-01 16:00:00,69.08,kWh,2023-01-01,electricite,Ecole Paris 1,ecole,Paris,1926,...,12.4344,0.307022,0.035867,2023,173.285057,0.056751,-0.020883,236.698972,438.268085,False
4,BAT0001,2023-01-01 17:00:00,2.60,m3,2023-01-01,eau,Ecole Paris 1,ecole,Paris,1926,...,9.1000,0.011556,0.001350,2023,173.285057,0.056751,-0.055401,27.826371,86.083064,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,BAT0019,2023-02-22 01:00:00,21.88,m3,2023-02-22,eau,Piscine Lyon 19,piscine,Lyon,3120,...,76.5800,0.065509,0.007013,2023,145.965362,0.339533,-0.332521,27.826371,86.083064,False
99996,BAT0019,2023-02-22 08:00:00,288.54,m3,2023-02-22,eau,Piscine Lyon 19,piscine,Lyon,3120,...,1009.8900,0.863892,0.092481,2023,145.965362,0.339533,-0.247053,27.826371,86.083064,True
99997,BAT0019,2023-02-22 12:00:00,1374.40,kWh,2023-02-22,electricite,Piscine Lyon 19,piscine,Lyon,3120,...,247.3920,4.114970,0.440513,2023,145.965362,0.339533,0.100979,236.698972,438.268085,False
99998,BAT0019,2023-02-22 17:00:00,318.79,m3,2023-02-22,eau,Piscine Lyon 19,piscine,Lyon,3120,...,1115.7650,0.954461,0.102176,2023,145.965362,0.339533,-0.237357,27.826371,86.083064,True
99999,BAT0019,2023-02-22 17:00:00,2949.62,kWh,2023-02-22,gaz,Piscine Lyon 19,piscine,Lyon,3120,...,265.4658,8.831198,0.945391,2023,145.965362,0.339533,0.605858,353.223797,656.287323,True

## Détecter les périodes de sous-consommation suspectes (bâtiment ferme non declaré)

In [12]:
seuil_bas = (
    df.groupby("type_energie")["conso_clean"]
    .quantile(0.05)
    .reset_index()
    .rename(columns={"conso_clean": "seuil_bas"})
)

df = df.merge(seuil_bas, on="type_energie", how="left")

df["sous_conso_suspecte"] = df["conso_clean"] < df["seuil_bas"]
df

,batiment_id,timestamp,conso_clean,unite,date,type_energie,nom,type,commune,surface_m2,...,conso_par_m2,annee,IPE_kwh_m2_an,moyenne_conso_type,ecart_moyenne_categorie,mean,std,pic_anormal,seuil_bas,sous_conso_suspecte
0,BAT0001,2023-01-01 03:00:00,7.99,kWh,2023-01-01,electricite,Ecole Paris 1,ecole,Paris,1926,...,0.004148,2023,173.285057,0.056751,-0.052602,236.698972,438.268085,False,4.800,False
1,BAT0001,2023-01-01 03:00:00,7.71,kWh,2023-01-01,gaz,Ecole Paris 1,ecole,Paris,1926,...,0.004003,2023,173.285057,0.056751,-0.052747,353.223797,656.287323,False,7.183,False
2,BAT0001,2023-01-01 13:00:00,90.48,kWh,2023-01-01,gaz,Ecole Paris 1,ecole,Paris,1926,...,0.046978,2023,173.285057,0.056751,-0.009772,353.223797,656.287323,False,7.183,False
3,BAT0001,2023-01-01 16:00:00,69.08,kWh,2023-01-01,electricite,Ecole Paris 1,ecole,Paris,1926,...,0.035867,2023,173.285057,0.056751,-0.020883,236.698972,438.268085,False,4.800,False
4,BAT0001,2023-01-01 17:00:00,2.60,m3,2023-01-01,eau,Ecole Paris 1,ecole,Paris,1926,...,0.001350,2023,173.285057,0.056751,-0.055401,27.826371,86.083064,False,0.270,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,BAT0019,2023-02-22 01:00:00,21.88,m3,2023-02-22,eau,Piscine Lyon 19,piscine,Lyon,3120,...,0.007013,2023,145.965362,0.339533,-0.332521,27.826371,86.083064,False,0.270,False
99996,BAT0019,2023-02-22 08:00:00,288.54,m3,2023-02-22,eau,Piscine Lyon 19,piscine,Lyon,3120,...,0.092481,2023,145.965362,0.339533,-0.247053,27.826371,86.083064,True,0.270,False
99997,BAT0019,2023-02-22 12:00:00,1374.40,kWh,2023-02-22,electricite,Piscine Lyon 19,piscine,Lyon,3120,...,0.440513,2023,145.965362,0.339533,0.100979,236.698972,438.268085,False,4.800,False
99998,BAT0019,2023-02-22 17:00:00,318.79,m3,2023-02-22,eau,Piscine Lyon 19,piscine,Lyon,3120,...,0.102176,2023,145.965362,0.339533,-0.237357,27.826371,86.083064,True,0.270,False
99999,BAT0019,2023-02-22 17:00:00,2949.62,kWh,2023-02-22,gaz,Piscine Lyon 19,piscine,Lyon,3120,...,0.945391,2023,145.965362,0.339533,0.605858,353.223797,656.287323,True,7.183,False

## Repérer les bâtiments dont la consommation ne correspond pas à leur DPE

In [13]:
# choix du seuil de 200 kWh/m²/an
df["dpe_incoherent"] = (
    df["classe_energetique"].isin(["A", "B", "C"]) &
    (df["IPE_kwh_m2_an"] > 200)
)
df

,batiment_id,timestamp,conso_clean,unite,date,type_energie,nom,type,commune,surface_m2,...,annee,IPE_kwh_m2_an,moyenne_conso_type,ecart_moyenne_categorie,mean,std,pic_anormal,seuil_bas,sous_conso_suspecte,dpe_incoherent
0,BAT0001,2023-01-01 03:00:00,7.99,kWh,2023-01-01,electricite,Ecole Paris 1,ecole,Paris,1926,...,2023,173.285057,0.056751,-0.052602,236.698972,438.268085,False,4.800,False,False
1,BAT0001,2023-01-01 03:00:00,7.71,kWh,2023-01-01,gaz,Ecole Paris 1,ecole,Paris,1926,...,2023,173.285057,0.056751,-0.052747,353.223797,656.287323,False,7.183,False,False
2,BAT0001,2023-01-01 13:00:00,90.48,kWh,2023-01-01,gaz,Ecole Paris 1,ecole,Paris,1926,...,2023,173.285057,0.056751,-0.009772,353.223797,656.287323,False,7.183,False,False
3,BAT0001,2023-01-01 16:00:00,69.08,kWh,2023-01-01,electricite,Ecole Paris 1,ecole,Paris,1926,...,2023,173.285057,0.056751,-0.020883,236.698972,438.268085,False,4.800,False,False
4,BAT0001,2023-01-01 17:00:00,2.60,m3,2023-01-01,eau,Ecole Paris 1,ecole,Paris,1926,...,2023,173.285057,0.056751,-0.055401,27.826371,86.083064,False,0.270,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,BAT0019,2023-02-22 01:00:00,21.88,m3,2023-02-22,eau,Piscine Lyon 19,piscine,Lyon,3120,...,2023,145.965362,0.339533,-0.332521,27.826371,86.083064,False,0.270,False,False
99996,BAT0019,2023-02-22 08:00:00,288.54,m3,2023-02-22,eau,Piscine Lyon 19,piscine,Lyon,3120,...,2023,145.965362,0.339533,-0.247053,27.826371,86.083064,True,0.270,False,False
99997,BAT0019,2023-02-22 12:00:00,1374.40,kWh,2023-02-22,electricite,Piscine Lyon 19,piscine,Lyon,3120,...,2023,145.965362,0.339533,0.100979,236.698972,438.268085,False,4.800,False,False
99998,BAT0019,2023-02-22 17:00:00,318.79,m3,2023-02-22,eau,Piscine Lyon 19,piscine,Lyon,3120,...,2023,145.965362,0.339533,-0.237357,27.826371,86.083064,True,0.270,False,False
99999,BAT0019,2023-02-22 17:00:00,2949.62,kWh,2023-02-22,gaz,Piscine Lyon 19,piscine,Lyon,3120,...,2023,145.965362,0.339533,0.605858,353.223797,656.287323,True,7.183,False,False

## Lister les bâtiments nécessitant un audit énergétique

In [14]:
df["audit_recommande"] = (
    df["pic_anormal"] |
    df["sous_conso_suspecte"] |
    df["dpe_incoherent"] |
    (df["ecart_moyenne_categorie"].abs() > 50)
)
df

,batiment_id,timestamp,conso_clean,unite,date,type_energie,nom,type,commune,surface_m2,...,IPE_kwh_m2_an,moyenne_conso_type,ecart_moyenne_categorie,mean,std,pic_anormal,seuil_bas,sous_conso_suspecte,dpe_incoherent,audit_recommande
0,BAT0001,2023-01-01 03:00:00,7.99,kWh,2023-01-01,electricite,Ecole Paris 1,ecole,Paris,1926,...,173.285057,0.056751,-0.052602,236.698972,438.268085,False,4.800,False,False,False
1,BAT0001,2023-01-01 03:00:00,7.71,kWh,2023-01-01,gaz,Ecole Paris 1,ecole,Paris,1926,...,173.285057,0.056751,-0.052747,353.223797,656.287323,False,7.183,False,False,False
2,BAT0001,2023-01-01 13:00:00,90.48,kWh,2023-01-01,gaz,Ecole Paris 1,ecole,Paris,1926,...,173.285057,0.056751,-0.009772,353.223797,656.287323,False,7.183,False,False,False
3,BAT0001,2023-01-01 16:00:00,69.08,kWh,2023-01-01,electricite,Ecole Paris 1,ecole,Paris,1926,...,173.285057,0.056751,-0.020883,236.698972,438.268085,False,4.800,False,False,False
4,BAT0001,2023-01-01 17:00:00,2.60,m3,2023-01-01,eau,Ecole Paris 1,ecole,Paris,1926,...,173.285057,0.056751,-0.055401,27.826371,86.083064,False,0.270,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,BAT0019,2023-02-22 01:00:00,21.88,m3,2023-02-22,eau,Piscine Lyon 19,piscine,Lyon,3120,...,145.965362,0.339533,-0.332521,27.826371,86.083064,False,0.270,False,False,False
99996,BAT0019,2023-02-22 08:00:00,288.54,m3,2023-02-22,eau,Piscine Lyon 19,piscine,Lyon,3120,...,145.965362,0.339533,-0.247053,27.826371,86.083064,True,0.270,False,False,True
99997,BAT0019,2023-02-22 12:00:00,1374.40,kWh,2023-02-22,electricite,Piscine Lyon 19,piscine,Lyon,3120,...,145.965362,0.339533,0.100979,236.698972,438.268085,False,4.800,False,False,False
99998,BAT0019,2023-02-22 17:00:00,318.79,m3,2023-02-22,eau,Piscine Lyon 19,piscine,Lyon,3120,...,145.965362,0.339533,-0.237357,27.826371,86.083064,True,0.270,False,False,True
99999,BAT0019,2023-02-22 17:00:00,2949.62,kWh,2023-02-22,gaz,Piscine Lyon 19,piscine,Lyon,3120,...,145.965362,0.339533,0.605858,353.223797,656.287323,True,7.183,False,False,True

## Export anomalies_détctées

In [15]:
df_anomalies = df[df["audit_recommande"]].copy()

df_anomalies_export = df_anomalies[[
    "batiment_id",
    "nom",
    "type",
    "commune",
    "type_energie",
    "conso_clean",
    "IPE_kwh_m2_an",
    "classe_energetique",
    "pic_anormal",
    "sous_conso_suspecte",
    "dpe_incoherent",
    "ecart_moyenne_categorie"
]]

df_anomalies_export.to_csv(
    "../output/anomalies_detectees.csv",
    index=False
)

df_anomalies_export.shape

(10924, 12)

## Rapport de recommandation

# Rapport de recommandations d’audit énergétique

## Contexte
Une analyse des consommations énergétiques a été menée afin d’identifier
les bâtiments présentant des comportements atypiques ou incohérents.

## Anomalies détectées
Les anomalies suivantes ont été mises en évidence :
- Pics de consommation dépassant significativement les valeurs habituelles
- Périodes prolongées de sous-consommation suggérant une fermeture non déclarée
- Incohérences entre la classe énergétique (DPE) et la consommation réelle
- Écarts importants par rapport à la moyenne des bâtiments de même catégorie

## Bâtiments à auditer en priorité
Les bâtiments cumulant plusieurs signaux d’alerte sont considérés comme
prioritaires pour un audit énergétique approfondi.

## Recommandations
- Vérifier l’état des équipements (chauffage, climatisation, éclairage)
- Contrôler la qualité et la fiabilité des capteurs de mesure
- Analyser les usages réels et les plages d’occupation
- Mettre à jour les informations DPE si nécessaire

## Conclusion
La détection précoce de ces anomalies permet d’optimiser les actions
d’amélioration énergétique et de réduire les coûts d’exploitation.